<main class="container d-flex justify-content-center align-items-center" style="height:90vh;">
  <div class="row">
    <section class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <h2>Login</h2>
    </section>
    <section class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <div class="row w-75">
        <h2>Login</h2>
      </div>
    </section>
  </div>
</main>