<main class="container d-flex justify-content-center align-items-center" style="min-height:92.25vh">
  <section class="bg-light p-4 border border-5 border-dark">
    <div class="d-flex justify-content-center align-items-center">
      <img class="d-inline-block img-fluid rounded w-75" src="/img/notAllowed.jpg" alt="Forbidden">
    </div>
    <div class="mt-4">
      <h1 class="text-center fw-bold">Forbidden</h1>
      <p class="text-center">Insufficient permissions</p>
    </div>
  </section>
</main>