<main class="container d-flex justify-content-center align-items-center" style="min-height:92.25vh">
  <section class="bg-warning p-4 border border-5 border-dark">
    <div class="d-flex justify-content-center align-items-center">
      <img class="d-inline-block img-fluid rounded w-75" src="/img/notFound.jpg" alt="Not Found">
    </div>
    <div class="mt-4">
      <h1 class="text-center fw-bold">Not Found</h1>
      <p class="text-center">The resource that you've been looking for is broken or not avaiable at this moment</p>
    </div>
  </section>
</main>